@{
    ViewBag.Title = "Info Entries";
}

@*
@foreach (var info in ViewBag.Infos as List<IptoFlag.Info>)
{
    <p> @info.IP </p>
}
*@

@* 
@using (Html.BeginForm())
{   
    <p>Country: @Html.DropDownList("IdCountry", "All")  
    <input type="submit" value="Filter" /></p>
}
*@

@(Html.Kendo().Grid<IptoFlag.Info>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(el => el.IdInfo).Title("ID Info");
              columns.Bound(el => el.IdCountry).Title("ID Country");
              columns.Bound(el => el.InfoCountry).Title("Information");
              columns.Bound(el => el.IP).Title("IP");
              columns.Bound(el => el.Location).Title("Location");
              columns.Bound(el => el.Date).Title("Date").Format("{0:yyyy/MM/dd}");
          })
          .Selectable(selection => selection.Mode(GridSelectionMode.Single))
          .Sortable()
          .Filterable()
          .Pageable()
          .DataSource(dataSource =>
          {
              dataSource.Ajax().PageSize(10).ServerOperation(false)
              .Read(read => read.Action("ReturnInfos", "Home"));
          })
     )

